.table{
    margin-left:30%;
    margin-right:30%;
}
.compat
{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    width: 100%;
}
.texts{
    text-decoration: none;
    color: black;
    font-family:cursive;
    letter-spacing: 1px;
    font-weight: 900;
    font-size:120%
}
.texts:hover{
    text-decoration: underline;
}
#nav-left{
    padding: 0px 0px 0px 0px;
    width: 148px;
    height: 62px;
    background-image: url(../img/play-left.png);
}
#nav-center{
    padding: 0px 0px 0px 0px;
    background-image: url(../img/play-center.png);
}
#nav-right{
    padding: 0px 0px 0px 0px;
    width: 57px;
    height: 62px;
    background-image: url(../img/play-right.png);
}
.search{
    width: 50%;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 20px;
    border-radius: 40px;
    padding: 11px;
}
@media screen and (max-width: 720px){
    .table{
        margin-left:10%;
        margin-right:10%;
    }
}